@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
  themes: light --default, forest;
}

ul li a.active{
    color: #a64259;
    border-bottom: 2px solid #a64259;
}